.gne-reference-pane {
    background: whitesmoke;
    padding: 1rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: 0.01em;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87);
    margin-top: 2%;
}


span {
    &.gne-reference-pane__title {
        font-weight: bold;
    }
}
